<div class="jumbotron">
  <h1>Pinterest</h1>
  <p class="lead">
    Login Below
  </p>
  <p>
    <input class="emailInput" ng-model="email" type="email" name="email" placeholder="email">
    <input class="passwordInput" ng-model="password" type="password" name="password" placeholder="password">
    <button ng-click="createUser()" class="submitLogin" type="submit">Register</button>
    <button ng-click="loginUser()" class="submitLogin" type="submit">Login</button>
  </p>
  <p>
  	<button ng-click="loginFbook()" type="submit" class="loginFbook">Login with Facebook</button>
  </p>
  <p>{{message}}</p>
  <p>{{error}}</p>

</div>
